<app-navbar></app-navbar>
<div class="bg">
    <mat-card style="margin: 20px;">
        <form class="example-form" [formGroup]="salesForm" (ngSubmit)="submitForm()">
            Please check your warehouse medicines-Id in the My medicines
            <div class="userpatient-container">
                <mat-form-field class="full">
                    <input matInput placeholder="User Id" formControlName="userId">
                </mat-form-field>
                <span style="margin:0 5px;"></span>
                <mat-form-field class="full">
                    <input matInput placeholder="Patient Id" formControlName="patientId">
                </mat-form-field>
            </div>
            <div formArrayName="medicinesToSellDTO" class="medicine-container">
                <br>
                <div *ngFor="let medicineToSellDTO of medicinesToSellDTOForms.controls; let i=index"
                    [formGroupName]="i">
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Medicine Id</mat-label>
                        <input matInput placeholder="Warehouse-Medicine Id" formControlName="warehouseMedicineId"
                            required>
                    </mat-form-field>
                    <span style="margin-left: 15px;">
                        <button mat-raised-button color="warn" (click)="deleteMedicineToSellDTO(i)">Delete</button>
                    </span>
                </div>
            </div>
            <br>
            <div class="button-container">
                <a mat-raised-button color="primary" (click)="addMedicineToSellDTO()">Add Medicine to
                    sale</a>
            </div>
            <br>
            <div class="submit-container">
                <button mat-raised-button color="purple" type="submit" [disabled]="salesForm.invalid">CREATE</button>
            </div>

        </form>
    </mat-card>

    <div class="link-container">
        <a routerLink="/orders" mat-raised-button color="primary">Back to sales</a>
    </div>
</div>