<app-navbar></app-navbar>
<div class="bg">
    <div class="link-container">
        <a routerLink="/warehouse-medicines" mat-raised-button color="yellow">Back to My Medicines</a>
    </div>
    <mat-card style="margin: 20px;">
        <form class="example-form" [formGroup]="monthForm" (ngSubmit)="submitForm()">
            <mat-form-field appearance="fill">
                <mat-label>Months</mat-label>
                <input matInput placeholder="Number of months" formControlName="month" required>
            </mat-form-field>
            <br>
            <div class="submit-container">
                <button mat-raised-button color="purple" type="submit" [disabled]="monthForm.invalid">Apply</button>
            </div>
        </form>
    </mat-card>



    <h2 class="title">Warehouse</h2>
    <div *ngIf="warehouseMedicines" class="resource-list">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="warehouseMedicineId">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let warehouseMedicine"> {{warehouseMedicine.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let warehouseMedicine"> {{warehouseMedicine.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="generic">
                <mat-header-cell *matHeaderCellDef> Generic </mat-header-cell>
                <mat-cell *matCellDef="let warehouseMedicine"> {{warehouseMedicine.generic}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="expirationDate">
                <mat-header-cell *matHeaderCellDef> Expiration Date</mat-header-cell>
                <mat-cell *matCellDef="let warehouseMedicine"> {{warehouseMedicine.expirationDate.substring(0, 10)}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> Price (EUR)</mat-header-cell>
                <mat-cell *matCellDef="let warehouseMedicine"> {{warehouseMedicine.price.amount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let warehouseMedicine; let i=index">
                    <a *ngIf="user != null && user.role !== 'ROLE_ASSISTANT'" (click)="deleteMedicine(warehouseMedicine, i)" mat-raised-button color="warn" class= "change-delete"><i class="fa fa-trash-o"></i>
                      <span class="tooltiptext">Delete</span></a>
                </mat-cell>
              </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <div *ngIf="!warehouseMedicines" class="no-medicines"> There is no medicines expiring so early</div>

</div>
