<app-navbar></app-navbar>
<div class="bg">
    <mat-card style="margin: 20px;">
        <form class="example-form" [formGroup]="newPriceForm" (ngSubmit)="submitForm()">
            <mat-form-field appearance="fill">
                <mat-label>New Price (EUR)</mat-label>
                <input matInput placeholder="Ex 3.04" formControlName="newPrice" required>
            </mat-form-field>
            <br>
            <div class="submit-container">
                <button mat-raised-button color="purple" type="submit" [disabled]="newPriceForm.invalid">UPDATE</button>
            </div>
        </form>
    </mat-card>

    <div class="link-container">
        <a routerLink="/warehouse-medicines" mat-raised-button color="primary">Back to My Medicines</a>
    </div>
</div>