.bg { 
    height: auto;
    width: 100%;
    background-image: url("/../../../assets/img/green-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2em;
    min-height: 100%;
    padding-bottom: 15px;
}
    
.title {
    margin: 1em 0 1em;
    font-size: 3rem;
    letter-spacing: 0.1em;
    color: rgb(223, 61, 223);
}
    
.container {
    margin: 1em 3em;
    width: 80%;
    margin: 0 auto !important;
}

.mat-table {
    width: 100%;
}

.link-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding-bottom: 5px;
  }

.mat-purple {
    background-color: rgb(165, 31, 165);
    color: #fff;
}