<div class="toolbar" role="banner">
    <a href="/"> <img src="../../../assets/img/Logo-JavaPharmacy.png" alt="Logo"></a>
    <nav class="navbar">

        <!-- Links -->
        <ul class="list">
            <li class="nav-item">
                <a class="nav-link" routerLink="/users" >USERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/warehouse-medicines">MY MEDICINES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/orders">ORDERS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sales">SALES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/medicines">CATALOGUE</a>
            </li>
            <li class="nav-item">
                <button id="logoutBtn" (click) = "logout()">LOGOUT</button>
            </li>
        </ul>
    </nav>
</div>
